
	body{
		background-color: #EFE7E3;
	}	
	
	.frame{
		margin: 30px 150px;
		display flex;
		flex-direction: columns;
	}	
	
	/*navigator*/
	
	.navigator{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	li{	
		display: inline;
		align-self: center;
		margin:0;
		margin-left: 15px;
	}	
	
	ul{
	margin:0;
	}
	
	.site-name{
		margin:0;
		font-family: 'Montserrat', sans-serif;
		font-size: 24px;
		color: #C2B4AB;
	}	
	
	.nav-menu{
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 13px;
	}
	
	a{
		color: grey;
		text-decoration: none;
	}	
	
	a:hover{
		color: white;
		transition: 0.3s;
	}	

	/*dashboard*/
	
	.dashboard{
		display: flex;
		flex-direction: column;
		font-family: 'Montserrat', sans-serif;
		font-family: 'Murecho', sans-serif;
		margin-top: 110px;
		}
	
	.japanese-comment{
		font-family: 'Montserrat', sans-serif;
		font-family: 'Murecho', sans-serif;
		font-weight: 300;
		font-size: 25px;
	}	
	
		
	.sample:hover{
		background-color: #C2B4AB;
		color: white;
		transition: none;
		
		}
	
	.highlight:hover{
		background-color: #C2B4AB;
		transition: none;
	}	
	
	.english-comment{
		font-family: 'Montserrat', sans-serif;
		font-weight: 100;
		font-size: 12px;
		font-style: italic;
		letter-spacing: -0.3px;
	}
	
	
	/*recent-works*/
	
	
	.recent-menu{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	weight: 900;
	color: #C2B4AB;	
	text-align: right;
	margin-top: 100px;
	}
	
	
	.recent-works{
		display: flex;
		flex-direction: column;
		margin-bottom: 0px;
		}
	
	.article{
		display: flex;
		flex-direction: row;
		margin-bottom: 120px;
		align-items: center;
	}	
	
	.thumbnail{
		width: 350px;
		border:1px solid white;  
		border-radius: 2px; 
		
	}
	
	.article-info{
		margin: 0px 20px;	
	}
	
	.article-name{
		font-family: 'Montserrat', sans-serif;
		font-size: 25px;
		font-weight: 900;
		margin-top: 0px;
		margin-bottom: 30px;
		color: #696969;
		
	}
	
	.article-name:hover{
		position: relative;
  		top: -3px;
 		color: #856f62;
 		font-style: italic;
	}
	
	
	.article-comment{
		font-family: 'Montserrat', sans-serif;
		font-family: 'Noto Sans JP', sans-serif;
		font-size: 16px;
		font-weight: 100;
		color: grey;
	}	
	
	.more{
		width: content;
		height: content;
		float: right;
		margin-right: 60px;
		font-family: 'Montserrat', sans-serif;
		font-family: 'Noto Sans JP', sans-serif;
		font-size: 11px;
		background-color: transparent;
		border: none;
		outline: none;
		padding: 0px;
	}
	
	
	
	/*profile-section*/
	
	.profile-section{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		margin: 100px 100px;
	}
	
	#profile-picture{
		width: 370px;
		border: 2px solid #C2B4AB;
	 	border-radius: 20px;
		margin-right: 60px;
	}	
		
	.introduction>h2{
		margin: 0px;
		font-family: 'Montserrat', sans-serif;
		font-size: 35px;
		font-weight: 1000;
	}
	
	.introduction>h4{
		font-family: 'Montserrat', sans-serif;
		font-family: 'Noto Sans JP', sans-serif;
		font-weight: 800;
		font-size: 20px;
		color: #696969;
		font-style: italic;
	}	
		
	.pm:hover{
 		position: relative;
  		top: -3px;
  		transition: 0.1s;
 		color: #856f62;
 		font-style: italic;
		}
	
	.introduction>p{
		font-family: 'Montserrat', sans-serif;
		font-family: 'Noto Sans JP', sans-serif;
		font-weight: 580;
		font-size: 13px;
		margin-bottom: 10px;
		line-height: 1.6;
	}	
	
	/*love-menu*/
	
	.h1-love{
    text-align: center;
    margin-top: 50px;
	}

	.lists{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
	font-family: 'Noto Sans JP', sans-serif;
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    font-style: italic;
    margin-bottom: 80px;
	}
	
	.list_text{
	margin-bottom: 0px;
	}
	
	.list_text2{ 
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	font-size: 11px;
	}

	.list_img{
    width: 250px;
    height: 250px;
    display: block;
    margin: 3vh 1vh;
    margin-bottom: 50px;
	}

	.list_img:hover {
		background-color: #C2B4AB;
		width: 270px;
		height: 270px;
		transition: none;
		border:1.5px solid #856f62;  
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
	}	

	.favorites{
    display:inline-flex;
    margin-top: 60px;
    margin-left: 100px;
	}
	
	
	/*footer*/
	
	.footer{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 150px
	}	
	
	.welcome{
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		font-seight: 700;
		color:#856f62;
		margin-top: 150px;
		margin-bottom: 10px;
		
	}
	
	.links>a{
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 700;
		margin-left: 15px;
		text-decoration: underline;
	}	
	
	.footer>p{
		font-family: 'Montserrat', sans-serif;
		font-weight: 100;
		font-size: 12px;
		font-style: italic;
		margin: 0;
		margin-top: 10px;	
	}
	
	
